.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-table{
  background-color: dodgerblue;
  width: 100%;
  padding: 5%;
  border: 3px solid black;
  border-collapse: collapse;
}

.App-table th, .App-table td {
  padding: 12px; /* Añadir espaciado interno */
  text-align: center; /* Centrar el texto en las celdas */
  border: 1px solid black; /* Añadir bordes entre las celdas */
  font-family: Arial, sans-serif; /* Fuente clara */
  color: white; /* Texto blanco para mayor contraste */
}

.App-table th {
  background-color: darkblue; /* Color más oscuro para el encabezado */
  font-weight: bold; /* Negrita para los títulos */
  text-transform: uppercase; /* Mayúsculas para los títulos */
}
